Repository Findy-org/FINDY_FE, pull requests merged in 2024-11, with the labels that each got.

#28 [FEAT] SideMenu 컴포넌트, 스토리북 구현
  src/assets/icons/bubble.svg
  src/assets/icons/index.tsx
  src/components/common/Button/Button.stories.tsx
  src/components/common/Button/Button.types.ts
  src/components/common/Button/Button.variants.ts
  src/components/common/Button/index.tsx
  src/components/common/Icon/index.tsx
  src/components/common/IconButton/IconButton.stories.tsx
  src/components/common/IconButton/IconButton.types.ts
  src/components/common/IconButton/index.tsx
  src/components/common/Input/Input.types.ts
  src/components/common/Input/index.tsx
  src/components/common/SideMenu/SideMenu.stories.tsx
  src/components/common/SideMenu/SideMenu.types.ts
  src/components/common/SideMenu/index.tsx
  src/components/common/Tooltip/Tooltip.types.ts
  src/components/common/Tooltip/index.tsx
  src/constants/sideMenuItem.ts
Labels: feat

#32 [FEAT] SearchInput 컴포넌트, 스토리북
  src/assets/icons/back.svg
  src/assets/icons/index.tsx
  src/assets/icons/plus.svg
  src/assets/icons/search.svg
  src/assets/icons/star.svg
  src/assets/icons/user.svg
  src/components/common/Layout/index.tsx
  src/components/common/SearchInput/SearchInput.stories.tsx
  src/components/common/SearchInput/SearchInput.types.ts
  src/components/common/SearchInput/index.tsx
  src/pages/.gitkeep
  src/pages/Map.tsx
  src/pages/MapView.tsx
  src/routes/route.tsx
Labels: feat

#34 [FEAT] useFunnel 훅 구현
  src/constants/linkForm.ts
  src/hooks/.gitkeep
  src/hooks/common/useFunnel.tsx
Labels: feat

#38 [FEAT] SideMenu 연결
  src/components/common/IconButton/index.tsx
  src/components/common/SideMenu/SideMenu.stories.tsx
  src/components/common/SideMenu/index.tsx
  src/constants/sideMenuItem.ts
  src/index.css
  src/pages/MapView.tsx
Labels: feat

#42 [FEAT] 장소 검색 API 연결, 검색 결과 지도에 마커 표시
  src/App.tsx
  src/components/common/Layout/index.tsx
  src/components/common/SearchInput/index.tsx
  src/components/features/LinkForm/ExtractionStatus.tsx
  src/components/features/LinkForm/Landing.tsx
  src/components/features/LinkForm/LinkInput.tsx
  src/components/features/NaverMap/index.tsx
  src/contexts/MarkerContext.tsx
  src/hooks/api/link/.gitkeep
  src/hooks/api/search/useNaverSearchResult.ts
  src/hooks/common/useMarkers.tsx
  src/lib/env.ts
  src/lib/naver.ts
  src/pages/MapView.tsx
  src/types/naver.ts
  src/utils/CustomMarker.ts
  src/utils/naver/addMarkersToMap.ts
  src/utils/naver/clearExistingMarkers.ts
  src/utils/naver/updateMarkerTitles.ts
  src/utils/parseCategory.ts
  vite.config.ts
Labels: feat

#45 [FEAT] ListCard 컴포넌트, 스토리북 구현
  src/components/common/ListCard/ListCard.stories.tsx
  src/components/common/ListCard/ListCard.types.ts
  src/components/common/ListCard/index.tsx
Labels: feat

#47 [FEAT] 유투브 장소 추출 API 연결
  src/components/common/IconButton/IconButton.types.ts
  src/components/common/IconButton/index.tsx
  src/components/features/LinkForm/ExtractionStatus.tsx
  src/components/features/LinkForm/LinkForm.stories.tsx
  src/components/features/LinkForm/LinkInput.tsx
  src/components/features/LinkForm/types.ts
  src/constants/motions.ts
  src/hooks/api/link/.gitkeep
  src/hooks/api/link/useYoutubePlace.ts
  src/hooks/common/useYoutubeContext.tsx
  src/lib/env.ts
  src/lib/external.ts
  src/pages/Link.tsx
  src/pages/MapView.tsx
  src/types/.gitkeep
  src/types/naver.ts
  src/utils/naver/addMarkersToMap.ts
Labels: feat

#51 [FEAT] 현재 위치로 이동
  src/components/features/NaverMap/NaverMap.types.ts
  src/components/features/NaverMap/index.tsx
  src/hooks/common/useMapState.tsx
  src/index.css
  src/pages/MapView.tsx
  src/utils/.gitkeep
  src/utils/CurrentMarker.ts
  src/utils/naver/addMarkerToMap.ts
  src/utils/naver/currentMarkerToMap.ts
Labels: feat

#52 [FEAT] Chip 컴포넌트,스토리북 구현
  src/components/common/Button/Button.variants.ts
  src/components/common/Chip/Chip.stories.tsx
  src/components/common/Chip/Chip.types.ts
  src/components/common/Chip/Chip.variants.ts
  src/components/common/Chip/index.tsx
  src/pages/Link.tsx
  tailwind.config.ts
Labels: feat

#56 [FEAT] 유투브 장소 추출 저장
  .pnp.cjs
  .yarn/cache/@types-hoist-non-react-statics-npm-3.3.5-98b8d8e47b-2a3b64bf3d.zip
  .yarn/cache/cookie-npm-0.7.2-6ea9ee4231-9596e8ccdb.zip
  .yarn/cache/hoist-non-react-statics-npm-3.3.2-e7b709e6c1-fe0889169e.zip
  .yarn/cache/react-cookie-npm-7.2.2-61248cf180-22948a42b9.zip
  .yarn/cache/universal-cookie-npm-7.2.2-c7f1748d18-214c5cf72b.zip
  .yarn/install-state.gz
  package.json
  src/App.tsx
  src/assets/icons/check.svg
  src/assets/icons/index.tsx
  src/components/common/Chip/Chip.variants.ts
  src/components/common/Layout/index.tsx
  src/components/common/ListCard/index.tsx
  src/components/common/SideMenu/index.tsx
  src/components/features/BookmarkList/BookmarkList.tsx
  src/components/features/BottomSheetContent/BottomSheetContent.tsx
  src/components/features/BottomSheetContent/ExtractedPlaces.tsx
  src/components/features/BottomSheetContent/SearchResult.tsx
  src/components/features/BottomSheetContent/index.tsx
  src/components/features/BottomSheetContent/types.ts
  src/components/features/ExtractedPlacesList/ExtractedList.tsx
  src/components/features/LinkForm/ExtractionStatus.tsx
  src/components/features/LinkForm/LinkForm.stories.tsx
  src/components/features/LoginModal/Login.tsx
  src/components/features/LoginModal/Login.types.ts
  src/components/features/LoginModal/index.tsx
  src/components/features/NaverMap/index.tsx
  src/components/features/SearchList/SearchList.tsx
  src/constants/funnelStep.ts
  src/constants/linkForm.ts
  src/contexts/MapContext.tsx
  src/hooks/api/bookmarks/useYoutubeBookmark.ts
  src/hooks/auth/useAuth.ts
  src/hooks/common/useMapData.tsx
  src/hooks/common/useMapStorage.tsx
  src/lib/axios.ts
  src/lib/naver.ts
  src/main.tsx
  src/pages/Link.tsx
  src/pages/MapView.tsx
  src/types/naver.ts
  src/utils/CustomMarker.ts
  yarn.lock
Labels: feat

#64 [FEAT] 검색 결과 저장
  .pnp.cjs
  .yarn/cache/jotai-npm-2.10.3-20aff9aa6c-64f6536aaa.zip
  .yarn/install-state.gz
  package.json
  src/App.tsx
  src/components/common/Chip/Chip.stories.tsx
  src/components/features/BookmarkDetail/BookmarkDetail.tsx
  src/components/features/BookmarkDetail/index.tsx
  src/components/features/BookmarkList/BookmarkList.tsx
  src/components/features/BookmarkList/index.tsx
  src/components/features/BottomSheetContent/BottomSheetContent.tsx
  src/components/features/BottomSheetContent/ExtractedPlaces.tsx
  src/components/features/BottomSheetContent/SearchResult.tsx
  src/components/features/BottomSheetContent/index.tsx
  src/components/features/ExtractedPlacesList/ExtractedPlacesList.tsx
  src/components/features/ExtractedPlacesList/index.tsx
  src/components/features/LinkForm/ExtractionStatus.tsx
  src/components/features/LinkForm/Landing.tsx
  src/components/features/LinkForm/LinkForm.stories.tsx
  src/components/features/LinkForm/LinkInput.tsx
  src/components/features/SearchList/SearchList.tsx
  src/components/features/SearchResultsList/BookmarkSelectionList.tsx
  src/components/features/SearchResultsList/SearchResultsList.tsx
  src/components/features/SearchResultsList/index.tsx
  src/constants/funnelStep.ts
  src/contexts/MapAtom.tsx
  src/contexts/MapContext.tsx
  src/contexts/MarkerAtom.tsx
  src/contexts/MarkerContext.tsx
  src/hooks/api/bookmarks/useBookMarkList.ts
  src/hooks/api/link/useYoutubePlace.ts
  src/hooks/api/marker/useMarkerList.ts
  src/hooks/api/marker/useNewMarker.ts
  src/hooks/common/useBottomFunnel.tsx
  src/hooks/common/useFunnel.tsx
  src/hooks/common/useInput.tsx
  src/hooks/common/useMapData.tsx
  src/hooks/common/useMapStorage.tsx
  src/hooks/common/useMarkers.tsx
  src/hooks/common/useSessionDataLoader.tsx
  src/lib/axios.ts
  src/lib/external.ts
  src/pages/Link.tsx
  src/pages/MapView.tsx
  src/types/naver.ts
  src/utils/extractVideoId.ts
  src/utils/getStorageData.ts
  yarn.lock
Labels: feat

#67 [REFACTOR] SearchInput keyDown 이벤트 추가
  src/components/common/SearchInput/index.tsx
Labels: refactor

#68 [FEAT] 북마크 삭제
  src/components/features/BookmarkList/BookmarkList.tsx
  src/components/features/DeleteModal/Delete.tsx
  src/components/features/DeleteModal/Delete.types.ts
  src/components/features/DeleteModal/index.tsx
  src/hooks/api/bookmarks/useDeleteBookmark.ts
  src/hooks/api/bookmarks/useYoutubeBookmark.ts
Labels: feat

#71 [FEAT] 마커 삭제
  src/components/features/BookmarkDetail/BookmarkDetail.tsx
  src/hooks/api/marker/useDeleteMarkers.ts
  src/hooks/api/marker/useMarkerList.ts
Labels: feat

#74 [FEAT] cursor 방식 페이지네이션 구현
  src/components/common/Button/Button.variants.ts
  src/components/common/Modal/index.tsx
  src/components/features/BookmarkDetail/BookmarkDetail.tsx
  src/components/features/BookmarkList/BookmarkList.tsx
  src/components/features/SearchResultsList/BookmarkSelectionList.tsx
  src/hooks/api/bookmarks/useBookMarkList.ts
  src/hooks/api/marker/useMarkerList.ts
  src/utils/CustomMarker.ts
Labels: feat

#49 [FEAT] Dropdown 컴포넌트, 스토리북
  .pnp.cjs
  src/assets/icons/arrow-down.svg
  src/assets/icons/arrow-up.svg
  src/assets/icons/index.tsx
  src/components/common/Dropdown/Dropdown.stories.tsx
  src/components/common/Dropdown/Dropdown.types.ts
  src/components/common/Dropdown/Dropdown.variants.ts
  src/components/common/Dropdown/index.tsx
  src/constants/categories.ts
  src/hooks/common/useDropdown.tsx
  tailwind.config.ts
Labels: feat

#77 [REFACTOR] PlaceItem, Profile 컴포넌트
  src/components/common/PlaceItem/PlaceItem.stories.tsx
  src/components/common/PlaceItem/PlaceItem.types.ts
  src/components/common/PlaceItem/index.tsx
  src/components/common/Profile/Profile.stories.tsx
  src/components/common/Profile/Profile.types.ts
  src/components/common/Profile/index.tsx
  src/components/features/BookmarkDetail/BookmarkDetail.tsx
  src/components/features/BookmarkList/BookmarkList.tsx
  src/components/features/ExtractedPlacesList/ExtractedPlacesList.tsx
  src/components/features/SearchResultsList/BookmarkSelectionList.tsx
  src/components/features/SearchResultsList/SearchResultsList.tsx
Labels: feat

#80 [REFACTOR] naver.map.Event 적용
  src/components/features/NaverMap/index.tsx
  src/pages/MapView.tsx
  src/utils/naver/addMarkerToMap.ts
  src/utils/naver/currentMarkerToMap.ts
Labels: refactor

#79 [FEAT] Loading 컴포넌트, Suspense 추가
  src/components/common/ListCard/index.tsx
  src/components/common/Loading/Loading.stories.tsx
  src/components/common/Loading/Loading.types.ts
  src/components/common/Loading/index.tsx
  src/components/features/LinkForm/Landing.tsx
  src/hooks/api/bookmarks/useBookMarkList.ts
  src/hooks/api/marker/useMarkerList.ts
  src/hooks/common/useBottomFunnel.tsx
Labels: feat

#83 [FIX] token 발급 과정 수정
  src/hooks/auth/useAuth.ts
Labels: fix
